#service-menu{
    height: 100px;
    padding-top: 35px;
}
#service-menu>ul>li{
background-color: white;
border-radius: 20px;
border: .5px solid purple;
color: purple;
width: 165px;
height: 50px;
text-align: center;
margin-left: 10px;
}
#service-menu>ul>li>a{
padding-top: 10px; 
color: purple;
}