<section>
<nav class="navbar navbar-light bg-light" id="nav">
		<div class="container">
  			<a class="navbar-brand" href="#">
    			<h3>Company Logo</h3>
 			 </a>
 			 <div class="input-group" id="search">
  			<input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search for a service">
  			<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      			<span class="sr-only">Toggle Dropdown</span>
    		</button>
    		<div class="input-group-append">
    			<div class="dropdown-menu">
      				<a class="dropdown-item" href="#">Action</a>
      				<a class="dropdown-item" href="#">Another action</a>
      				<a class="dropdown-item" href="#">Something else here</a>
      				<div role="separator" class="dropdown-divider"></div>
      				<a class="dropdown-item" href="#">Separated link</a>
    			</div>
  			</div>
  			<input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search for a service">
  			<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      			<span class="sr-only">Toggle Dropdown</span>
    		</button>
  			<div class="input-group-append">
    			<button type="button" class="btn btn-success">Search</button>
    			<div class="dropdown-menu">
      				<a class="dropdown-item" href="#">Action</a>
      				<a class="dropdown-item" href="#">Another action</a>
      				<a class="dropdown-item" href="#">Something else here</a>
      				<div role="separator" class="dropdown-divider"></div>
      				<a class="dropdown-item" href="#">Separated link</a>
    			</div>
  			</div>
  		</div>
  			<div class="container3">
				<div class="btn-group ">
					<button type="button" class="btn btn-primary-outline"><strong>Login/SignUp</strong></button>
				</div>
			</div>
		</div>
	</nav>
	
</section>